.transformContainer {
  width: 100%;
  height: 600px;
}

.transformContent {
  width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@media only screen and (max-width: 1440px) {
  .transformContainer {
    width: 100%;
    height: 100%;
  }
  .transformContent {
    width: 100%;
    height: 100%;
  }
}

.transformInfo {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  width: 56.95%;
  height: 100%;
}

.transformHeader {
  font-size: 40px;
  font-family: var(--fraunces);
  font-weight: var(--frauncesBig);
}

@media only screen and (max-width: 1440px) {
  .transformHeader{
    font-size: 3vw
  }
}

.transformParagraph {
  font-family: var(--barlow);
  font-weight: 600;
  color: var(--veryDarkGray);
  line-height: 1.7em;
  margin-bottom: 28px;
}

@media only screen and (max-width: 1440px) {
  .transformParagraph{
    font-size: 1.5vw
  }
}

.transformLinkBackdrop {
  background-color: var(--yellow-highlight);
  position: absolute;
  width: 130px;
  height: 10px;
  border-radius: 25vw;
  margin-top: 16px;
}

.transformLinkBackdrop:hover {
  background-color: var(--yellow);
  cursor: pointer;
}

.transformLearnMoreLink {
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transformLearnMore {
  font-family: var(--fraunces);
  position: absolute;
  font-size: 17px
}

.transformBackgroundImg {
  height: 600px;
  width: 720px;
}

@media only screen and (max-width: 1440px) {
  .transformBackground {
    width: 50%;
    height: 100%;
  }
  .transformBackgroundImg {
    width: 100%;
    height: 100%;
  }
}
