.standOutContainer {
  width: 100%;
  height: 600px;
}

.standOutContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.standOutHeader {
  font-size: 40px;
  font-family: var(--fraunces);
  font-weight: var(--frauncesBig);
}

.standOutInfo {
  width: 50%;
  padding: 155px;
}

.standOutParagraph {
  font-family: var(--barlow);
  font-weight: 600;
  color: var(--veryDarkGray);
  line-height: 1.7em;
  margin-bottom: 28px;
}

.standOutLinkBackdrop {
  background-color: var(--softRed-highlight);
  position: absolute;
  height: 10px;
  width: 130px;
  border-radius: 25vw;
  margin-top: 16px;
}

.standOutLinkBackdrop:hover {
  background-color: var(--softRed);
  cursor: pointer;
}

.standOutLearnMoreLink {
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.standOutLearnMore {
  font-family: var(--fraunces);
  position: absolute;
}
