.standOutContainer {
  width: 100%;
  height: 600px;
}

.standOutContent {
  width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@media only screen and (max-width: 1440px) {
  .standOutContainer {
    width: 100%;
    height: 100%;
    margin-top: -5px
  }
  .standOutContent {
    width: 100%;
    height: 100%;
  }
}
/* width 410px */
.standOutInfo {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.standOutHeader {
  font-size: 40px;
  font-family: var(--fraunces);
  font-weight: var(--frauncesBig);
}

@media only screen and (max-width: 1440px) {
  .standOutHeader {
    font-size: 3vw;
  }
}

.standOutParagraph {
  font-family: var(--barlow);
  font-weight: 600;
  color: var(--veryDarkGray);
  line-height: 1.7em;
  margin-bottom: 28px;
}

@media only screen and (max-width: 1440px) {
  .standOutParagraph {
    font-size: 1.5vw;
  }
}

.standOutLinkBackdrop {
  background-color: var(--softRed-highlight);
  position: absolute;
  width: 130px;
  height: 10px;
  border-radius: 25vw;
  margin-top: 16px;
}

.standOutLinkBackdrop:hover {
  background-color: var(--softRed);
  cursor: pointer;
}

.standOutLearnMoreLink {
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.standOutLearnMore {
  font-family: var(--fraunces);
  position: absolute;
  font-size: 17px;
}


.standOutBackgroundimg {
  height: 600px;
  width: 720px;
}

@media only screen and (max-width: 1440px) {
  .standOutBackground {
    width: 50%;
    height: 100%;
  }
  .standOutBackgroundImg {
    width: 100%;
    width: 100%;
  }
}

@media only screen and (min-width: 700px) {
  .standOutBackgroundImgMobile {
    display: none;
  }
}


@media only screen and (max-width: 700px) {
  .standOutContent {
    flex-direction: column;
  }
  .standOutBackground{
    width: 100%;
    height: 100%;
  }
  .standOutBackgroundImg {
    display: none;
  }
  .standOutBackgroundImgMobile {
    height: 100%;
    width: 100%;
  }
  .standOutInfo {
    width: 100%;
    height: 100%;
  }
  .info {
    width: 90%;
    height: 100%;
    padding: 1vw;
    justify-content: center;
    align-items:center;;
  }
  .standOutHeader,.standOutParagraph{
    text-align: center;
  }
  .standOutHeader{
    font-size: 34px;
    word-wrap: break-word;
  }
  .standOutParagraph{
    font-size: 20px
  }
  .standOutLearnMoreLink{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 80px;
    margin-top: 50px
  }
}
