.navbarContainer {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
}

.navTitle {
  font-family: var(--barlow);
  font-weight: 900;
  font-size: 34px;
  margin: 0;
}

.navLinks {
  width: 525px;
}

@media only screen and (max-width: 700px) {
  .navLinks {
    display: none;
  }
  .navbarContainer{
    padding: 6vw 0vw 0vw 0vw;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.pageLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: 60px;
}
.About,
.Services,
.Projects,
.Contact {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 25vw;
}

.links {
  font-weight: 600;
  font-family: var(--barlow);
  font-size: 17px;
}

.Contact {
  background-color: var(--white);
  color: #000;
}

.Contact:hover {
  background-color: #6ecfff;
  cursor: pointer;
  color: var(--white);
}

.contactLink {
  font-family: var(--fraunces);
  font-weight: var(--frauncesSmall);
}

.button {
  background: none;
  border: none;
}

@media only screen and (min-width: 700px) {
  .menuButton {
    display: none;
  }
}
