.App {
  width: var(--desktop);
  background-color: #fffbf8;
}

.navAndHeaderContainer {
  background-image: url("./images/desktop/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.designPhotography {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
