.App {
  width: var(--desktop);
  background-color: #fffbf8;
}

@media only screen and (max-width: 1440px) {
  .App {
    width: 100%;
  }
}

.navAndHeaderContainer {
  background-image: url("./images/desktop/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-shrink: 1;
  width: 100%;
}

.designPhotography {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

@media only screen and (max-width: 1440px) {
  .App {
    width: 100%;
  }
  .designPhotography{
    margin-top: -5px
  }
}


@media only screen and (max-width: 700px) {
  .navAndHeaderContainer {
    background-image: url("./images/mobile/image-header.jpg");
    background-size: 100% 100%;
  }
  .designPhotography{
    flex-direction: column;
  }
}
